/*FONT*/

/*Debug*/
/*General*/
img {
    max-width: 100%;
}
.small-text {
    font-size: 0.70rem;
}
/*HEADER*/

header {
    height: 60px;
}
.logo-container > img {
    max-height: 50px;
    object-fit: cover;
}
.my-bg-bar {
    background-color: #F8F9FA;
}
.my-bg-blue {
    background-color: #1B72E8;
}
.my-icon {
    font-size: 1.2rem;
}
/*MAIN*/
main {
    height: calc(100vh - 60px);
    background-color: aqua;
}
main > section {
    height: 100%;
}
main > section > aside {
    height: 100%;
    width: 75px;
    background-color: #051E34;
    background-image: url(../img/sidebar-bg.png);
}
main > section > aside > nav {
    height: 100%;
}
main > section > aside > nav > ul{
    height: 100%;
}
main > section > div {
    height: 100%;
    width: calc(100% - 150px);
}
main > section > aside > nav > ul {
    list-style: none;
}

@media screen and (min-width: 992px) {
    main > section > aside {
        width: 150px;
    }
}