
/*General*/
img {
    max-width: 100%;
}
.small-text {
    font-size: 0.70rem;
}
.smaller-text {
    font-size: 0.85rem;
}
/*HEADER*/

header {
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.logo-container > img {
    max-height: 50px;
    object-fit: cover;
}
.my-bg {
    background-color: #F8F9FA;
}
.my-bg-blue {
    background-color: #1B72E8;
}
.my-icon {
    font-size: 1.2rem;
}
/*MAIN*/
main {
    height: calc(100vh - 60px);
    margin-top: 60px;
    width: 100%;
}
main > section {
    height: 100%;
}
main > section > aside {
    height: 100%;
    width: 75px;
    background-color: #051E34;
    background-image: url(../img/sidebar-bg.png);
}
main > section > aside > nav {
    height: 100%;
}
main > section > aside > nav > ul{
    height: 100%;
}
main > section > div {
    height: 100%;
    width: calc(100% - 75px);
    overflow-y: auto;
}
main > section > aside > nav > ul {
    list-style: none;
}
.table-img {
    width: 25px;
    margin-right: 3px;
}
.table-col-w {
    width: 18%;
}
main > section > aside > nav > ul > li:hover > a {
    background-color: rgba(255, 255, 255, 0.7);

}
.my-bg .container-fluid .row .col-12 > div > .my-offcanvas-width {
    width: 100%;
}
/*MEDIAQUERY*/

/*tablet*/
@media screen and (min-width: 768) {

}
/*desktop*/
@media screen and (min-width: 992px) {
    main > section > aside {
        width: 150px;
    }
    main > section > div {
        width: calc(100% - 150px);
    }
    .table-col-w {
        width: 13%;
    }
    .my-bg .container-fluid .row .col-12 > div > .my-offcanvas-width {
        width: 50%;
    }
}

