/*FONT*/

/*Debug*/
/*General*/
img {
    max-width: 100%;
}
/*HEADER*/

header {
    height: 60px;
}
.logo-container > img {
    max-height: 50px;
    object-fit: cover;
}
.my-bg-bar {
    background-color: #F8F9FA;
}
.my-icon {
    font-size: 1rem;
}
/*MAIN*/

/*FOOTER*/
